@model ItworxSample.Web.Models.SampleModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2><strong>Welcome</strong>, @Model.Username</h2>
    <h2><strong>Password: </strong>@Model.Password</h2>
</div>

